<!DOCTYPE html>

<html lang='en'>
    <head>
        <meta http-equiv="Context-Type" context="text/html;charset=UTF-8" />
        {% load static %}
        {% get_static_prefix as STATIC_PREFIX %}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css">
        <link rel='stylesheet' href="{{ STATIC_PREFIX }}css/base.css" type='text/css' />
        {% block css %} {% endblock %}
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        {% block js %} {% endblock %}'
		
    </head>
    <body>
        <div id="container">
            <div id="header">
                {% block header %} 
                    <div class="box effect1">
                        <h1> Image Search </h1>
                    </div>
                    <span style='font-size:18px; color:purple;'>{{ APP.RELEASE }}</span> 

                    {% block version %} 
                        &#8226; <span style='color: rgb(180,180,180);'>{{ APP.VERSION }}</span> <br /> <br />
                        <a href='http://semver.org'>semver.org</a> 
                    {% endblock %}
                {% endblock %}  
            </div>
            <div id="content">
                {% block content %} {% endblock %}
            </div>
            <div id="footer">
                {% block footer %} 

                &copy; 2013 Eudis Duran
                {% endblock %}
                
            </div>
        </div>
    </body>
</html>
